
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calendar</title>
</head>
<body>
    <div class="navbar-header">
        <form action="~/Home/Index" class="justify-content-md-center">
            <button>Возврат на главную страницу</button>
        </form>
    </div>

    @{ Html.RenderPartial("PartialCalendar");}
</body>
</html>
