@using CalendarThematicPlan.Container;
@using CalendarThematicPlan.BLL.Interface;
@using Ninject
@using CalendarThematicPlan.Entity

@{
    Layout = null;
}

@{
    ISubjectLogic subjectLogic = NinjectCommon.Kernel.Get<ISubjectLogic>();
    if (IsPost)
    {
        string id = Model.Id.ToString();

        try
        {
            subjectLogic.DeleteSubject(id);

            Response.Redirect("~/Subject/Index");
        }
        catch (System.Data.SqlClient.SqlException e)
        {
            <div class="card-header">
                <h2>Предмет является элементом расписания</h2>
            </div>
        }
        catch (Exception e)
        {
            <div class="card-header">
                <h2>@e.Message</h2>
            </div>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        <div class="mb-5">
            <table class="border-dark" border="1">
                <tr>
                    <td>ID</td>
                    <td>Название предмета</td>
                    <td>Количество часов за четверть</td>
                </tr>

                <tr class="align-middle">
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                    <td>@Model.Hours</td>
                </tr>

            </table>
        </div>

        <div>
            <form method="post">
                <button>Удалить предмет</button>
            </form>
        </div>
    }
    else
    {
        Html.RenderPartial("PartialAccessDenied");
    }
</body>
</html>
