
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Pge</title>
</head>
<body>
    <div> 
        <h1>Hello, Stranger! This is start page for you!</h1>
    </div>
</body>
</html>
