
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>

    <div>
        <form action="~/Award/Index" method="post" class="form-inline">
            <button class="btn-primary" id="awards">Awards</button>
        </form>
    </div>

    <div>
        <form action="~/User/Index" method="post" class="form-inline">
            <button class="btn-primary" id="users">Users</button>
        </form>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        <div>
            <form action="~/Home/Login">
                <button>Login</button>
            </form>
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <form action="~/Home/SignOut">
                <button class="btn-danger">Sign out</button>
            </form>
        </div>
    }
</body>
</html>
