@using Entity
@using UserAward.BLL.Interface
@using UserAward.Container
@using Ninject


@{
    Layout = null;
}

@{
    IUserLogic userLogic = NinjectCommon.Kernel.Get<IUserLogic>();
    List<string> roles = new List<string>() { "Admin", "User" };
    SelectList selectsRole = new SelectList(roles);
    if (IsPost)
    {
        try
        {
            string name = Request["name"];
            string email = Request["email"];
            string date = Request["date"];
            string password = Request["password"];
            string role = Request["role"];
            WebImage photo = WebImage.GetImageFromRequest("image");
            byte[] userPhoto = null;
            if (photo != null)
            {
                userPhoto = photo.GetBytes();
            }
            bool isRightOperation = userLogic.AddUser(name, date, email, password, role, userPhoto);
        }
        catch (Exception e)
        {
            <h1>ERROR! @e.Message</h1>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <form method="post" class="form-group" enctype="multipart/form-data">
            <p>Name</p><input type="text" id="name" name="name" value="Pasha" />
            <p>Email</p><input type="text" id="email" name="email" value="test.test@test.ru" />
            <p>Birthday</p><input type="date" id="date" name="date" value="1996-12-04" />
            <p>Password</p><input type="password" id="password" name="password" value="123" />
            <div class="col-md-6">
                Role: @Html.DropDownList("role", selectsRole as SelectList)
            </div>
            <p>Photo</p><input type="file" id="image" name="image" />
            <input type="submit" value="Create" />
        </form>
        <form action="~/User/Index">
            <button class="bg-primary">Cancel</button>
        </form>
    }
    else
    {
        <div>
            <h1>You can't do it</h1>
        </div>
    }
</body>
</html>
