@using Entity
@using UserAward.BLL.Interface
@using UserAward.Container
@using Ninject


@{
    Layout = null;
}

@{
    IUserLogic userLogic = NinjectCommon.Kernel.Get<IUserLogic>();
    IEnumerable<Award> awardsByUser = new List<Award>();
    if (IsPost)
    {
        string userId = Request["userId"];
        awardsByUser = userLogic.GetAwardFromUserAward(userId);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AwardsByUser</title>
</head>
<body>
    <div>
        <p>User's id</p>
        <form method="post">
            <input type="number" id="userId" name="userId" />
            <button class="active">Get Awards</button>
        </form>
    </div>

    <div>
        <h1>Список наград</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Award's Image</th>
            </tr>
            @foreach (var item in @awardsByUser)
            {
                <tr>
                    <th>@item.IdAward</th>
                    <th>@item.Title</th>
                    <th>@item.Description</th>
                    <th>@item.AwardImage</th>
                </tr>
            }
        </table>
    </div>

</body>
</html>
