@using Entity
@using UserAward.BLL.Interface
@using UserAward.Container
@using Ninject


@{
    Layout = null;
}

@{
    IUserLogic userLogic = NinjectCommon.Kernel.Get<IUserLogic>();
    List<string> roles = new List<string>() { "Admin", "User" };
    SelectList selectsRole = new SelectList(roles);
    if (IsPost)
    {
        try
        {
            string userId = Request["userId"];
            string name = Request["name"];
            string email = Request["email"];
            string date = Request["date"];
            string password = Request["password"];
            string role = Request["role"];
            WebImage photo = WebImage.GetImageFromRequest("image");
            byte[] userPhoto = null;
            if (photo != null)
            {
                userPhoto = photo.GetBytes();
            }
            bool isRightOperation = userLogic.UpdateUser(userId, name, date, email, password, role, userPhoto);
        }
        catch (Exception e)
        {
            <h1>ERROR! @e.Message</h1>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    <div>
        <form method="post" class="form-group">
            <p>User's ID</p><input type="number" id="userId" name="userId" />
            <p>Name</p><input type="text" id="name" name="name" />
            <p>Email</p><input type="text" id="email" name="email" />
            <p>Birthday</p><input type="date" id="date" name="date" />
            <p>Password</p><input type="password" id="password" name="password" />
            <div class="col-md-6">
                @Html.DropDownList("role", selectsRole as SelectList)
            </div>
            <p>Photo</p><input type="file" id="image" name="image" />
            <button class="alert-danger">Update</button>
        </form>
        <form action="~/User/Index">
            <button class="bg-primary">Cancel</button>
        </form>
    </div>
</body>
</html>
