@using CalendarThematicPlan.Container;
@using CalendarThematicPlan.BLL.Interface;
@using Ninject

@{
    Layout = null;
}

@{
    IGradeLogic gradeLogic = NinjectCommon.Kernel.Get<IGradeLogic>();
    if (IsPost)
    {
        string number = Request["number"];
        string letter = Request["letter"];
        string kids = Request["kids"];

        try
        {
            gradeLogic.AddGrade(number, letter, kids);

            Response.Redirect("~/Grade/Index");
        }
        catch (Exception e)
        {
            <div class="card-header">
                <h2>@e.Message</h2>
            </div>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Grade</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
    <script type="text/javascript" src="~/Scripts/validation.js"></script>
</head>
<body>
    <div class="form-group required">
        <form method="post">
            <div class="form-group">
                <label for="number" class="control-label">
                    Номер класса:
                    <input type="number" id="number" name="number" class="form-control" required="required" 
                           onchange="isRightNumber(this.value, 'number', 'check-number', 'check-number-helper')" value="" />
                </label>
            </div>

            <div id="check-number">

            </div>

            <div class="form-group">
                <label for="letter" class="control-label">
                    Буква класса:
                    <input type="text" id="letter" name="letter" class="form-control" required />
                </label>
            </div>

            <div class="form-group">
                <label for="kids" class="control-label">
                    Детей в классе:
                    <input type="number" id="kids" name="kids" class="form-control" required onchange="isRightNumber(this.value, 'kids', 'check-kids', 'check-kids-helper')" value="" />
                </label>
            </div>

            <div id="check-kids">

            </div>

            <button>Записать класс</button>
        </form>
    </div>
</body>
</html>
