@using CalendarThematicPlan.Container;
@using CalendarThematicPlan.BLL.Interface;
@using Ninject
@using CalendarThematicPlan.Entity

@{
    Layout = null;
}

@{
    IGradeLogic gradeLogic = NinjectCommon.Kernel.Get<IGradeLogic>();
    List<Grade> grades = gradeLogic.GetGrades().ToList();
    SelectList selectsGrade = new SelectList(grades);
    if (IsPost)
    {
        string grade = Request["grade"];

        try
        {
            gradeLogic.DeleteGrade(grade);
        }
        catch (Exception e)
        {
            <div class="card-header">
                <h2>@e.Message</h2>
            </div>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        <form method="post">
            <div class="col-md-6">
                Класс: @Html.DropDownList("grade", selectsGrade as SelectList)
            </div>

            <button>Удалить класс</button>
        </form>
    </div>
</body>
</html>
