@using CalendarThematicPlan.Entity

@model IEnumerable<Grade>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grade</title>
</head>
<body>

    <div>
        @{Html.RenderPartial("PartialGetGrades"); }
    </div>

    <div>
        @if (User.IsInRole("Admin"))
        {
            
            using (Html.BeginForm("Create", "Grade"))
            {
                <button class="list-inline">Новый класс</button>
            }
        }
    </div>
</body>
</html>
