@using CalendarThematicPlan.Entity

@model IEnumerable<Grade>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grade</title>
</head>
<body>

    <div class="mb-5">
        <table class="border-dark">
            <tr>
                <td>ID</td>
                <td>Номер</td>
                <td>Буква</td>
                <td>Детей в классе</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="align-middle">
                    <td>@item.Id</td>
                    <td>@item.Number</td>
                    <td>@item.Letter</td>
                    <td>@item.KidsInClass</td>
                </tr>
            }
        </table>
    </div>

    <div>
        @using (Html.BeginForm("Index", "Grade"))
        {
            <button name="action" value="create" class="list-inline">Create</button>
            <button name="action" value="getAll">Read</button>
            <button name="action" value="update">Update</button>
            <button name="action" value="delete">Delete</button>
        }
    </div>
</body>
</html>
