@using CalendarThematicPlan.Container;
@using CalendarThematicPlan.BLL.Interface;
@using Ninject

@{
    Layout = null;
}

@{
    IGradeLogic gradeLogic = NinjectCommon.Kernel.Get<IGradeLogic>();
    if (IsPost)
    {
        string idUser = Request["idUser"];
        string number = Request["number"];
        string letter = Request["letter"];
        string kids = Request["kids"];

        try
        {
            gradeLogic.UpdateGrade(idUser, number, letter, kids);

            Response.Redirect("~/Grade/Index");
        }
        catch (Exception e)
        {
            <div class="card-header">
                <h2>@e.Message</h2>
            </div>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Обновите класс</title>
    <script type="text/javascript" src="~/Scripts/validation.js"></script>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <div class="form-group required">
        <form method="post">

            <div class="form-group">
                <label for="idUser" class="control-label">
                    Идентификатор класса:
                    <input type="number" id="idUser" name="idUser" class="form-control" onchange="isRightNumber(this.value, 'idUser', 'check-id', 'check-id-helper')" value="" />
                </label>
            </div>

            <div id="check-id">

            </div>

            <div class="form-group">
                <label for="number">
                    Номер класса:
                    <input type="number" id="number" name="number" class="form-control" onchange="isRightNumber(this.value, 'number', 'check-number', 'check-number-helper')" value="" />
                </label>
            </div>

            <div id="check-number">

            </div>

            <div class="form-group">
                <label for="letter">
                    Буква класса:
                    <input type="text" id="letter" name="letter" class="form-control" />
                </label>
            </div>

            <div class="form-group">
                <label for="kids">
                    Детей в классе:
                    <input type="number" id="kids" name="kids" class="form-control" onchange="isRightNumber(this.value, 'kids', 'check-kids', 'check-kids-helper')" value="" />
                </label>
            </div>

            <div id="check-kids">

            </div>

            <button>Обновите данные о классе</button>
        </form>
    </div>
</body>
</html>
