@using CalendarThematicPlan.Container;
@using CalendarThematicPlan.BLL.Interface;
@using Ninject

@{
    Layout = null;
}

@{
    IGradeLogic gradeLogic = NinjectCommon.Kernel.Get<IGradeLogic>();
    if (IsPost)
    {
        string number = Request["number"];
        string letter = Request["letter"];
        string kids = Request["kids"];

        gradeLogic.UpdateGrade("", number, letter, kids);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    <div>



    </div>
</body>
</html>
