@using CalendarThematicPlan.Container;
@using CalendarThematicPlan.BLL.Interface;
@using Ninject

@{
    Layout = null;
}

@{
    IUserLogic userLogic = NinjectCommon.Kernel.Get<IUserLogic>();
    List<string> roles = Enum.GetNames(typeof(CalendarThematicPlan.WEB.Models.Roles)).ToList();
    SelectList selectsRole = new SelectList(roles);
    if (IsPost)
    {
        string firstName = Request["first-name"];
        string lastName = Request["last-name"];
        string patronymic = Request["patronymic"];
        string email = Request["email"];
        string password = Request["password"];
        string role = Request["role"];
        if (role == null)
        {
            role = "User";
        }

        string position = Request["position"];

        WebImage photo = WebImage.GetImageFromRequest("image");
        byte[] userPhoto = null;
        if (photo != null)
        {
            userPhoto = photo.GetBytes();
        }

        try
        {
            userLogic.AddUser(firstName, lastName, patronymic, email, password, role, position, userPhoto);

            Response.Redirect("~/User/Index");
        }
        catch (Exception e)
        {
            <div class="card-header text-md-center">
                <h2>@e.Message</h2>
            </div>
        }
    }
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link href="~/Content/userCreate.css" rel="stylesheet"/>
    <link href="~/Content/styles.css" rel="stylesheet"/>
    <script src="~/Scripts/userCreate.js" type="text/javascript"></script> 
    <script src="~/Scripts/validation.js" type="text/javascript"></script>


    <link rel="icon" href="~/Images/user.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Laravel</title>
</head>
<body>
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || !User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
            <div class="container">
                <a class="navbar-brand" href="~/Home/Index">Главная страница</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <main class="my-form">
            <div class="cotainer">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Register</div>
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label for="last_name" class="col-md-4 col-form-label text-md-right">Фамилия</label>
                                        <div class="col-md-6">
                                            <input type="text" id="last_name" class="form-control" name="last-name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="first_name" class="col-md-4 col-form-label text-md-right">Имя</label>
                                        <div class="col-md-6">
                                            <input type="text" id="first_name" class="form-control" name="first-name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="patronymic" class="col-md-4 col-form-label text-md-right">Отчество</label>
                                        <div class="col-md-6">
                                            <input type="text" id="patronymic" class="form-control" name="patronymic">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail</label>
                                        <div class="col-md-6">
                                            <input type="text" id="email" class="form-control" name="email"
                                                   onchange="IsRightEmail(this.value)" value="" />
                                        </div>
                                    </div>

                                    <div id="check-email" class="text-md-center">

                                    </div>

                                    <div class="form-group row">
                                        <label for="password" class="col-md-4 col-form-label text-md-right">Пароль</label>
                                        <div class="col-md-6">
                                            <input type="password" id="password" class="form-control" name="password">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="confirm-password" class="col-md-4 col-form-label text-md-right">Повторите пароль</label>
                                        <div class="col-md-6">
                                            <input type="password" id="confirm-password" class="form-control" name="confirm-password"
                                                   onchange="isEqual(this.value)" value="" />
                                        </div>
                                    </div>

                                    <div id="check-password" class="text-md-center">

                                    </div>

                                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                    {
                                        <div class="form-group row">
                                            <label for="role" class="col-md-4 col-form-label text-md-right">Роль</label>
                                            <div class="col-md-6" style="padding-top: 7">
                                                @Html.DropDownList("role", selectsRole as SelectList)
                                            </div>
                                        </div>
                                    }

                                    <div class="form-group row">
                                        <label for="position" class="col-md-4 col-form-label text-md-right">Должность</label>
                                        <div class="col-md-6">
                                            <input type="text" id="position" class="form-control" name="position">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="image" class="col-md-4 col-form-label text-md-right">Фото</label>
                                        <div class="col-md-6" style="padding-top: 4">
                                            <input type="file" id="image" name="image">
                                        </div>
                                    </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button class="btn btn-primary">
                                            Register
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    }
    else
    {
        Html.RenderPartial("PartialAccessDenied");
    }
</body>
</html>

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create User</title>
        <link rel="stylesheet" href="~/Content/styles.css" />
        <script type="text/javascript" src="~/Scripts/validation.js"></script>
    </head>
    <body>
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || !User.Identity.IsAuthenticated)
        {
            <div class="form-group required">
                <form method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="lastName" class="control-label">
                            Фамилия:
                            <input type="text" id="lastName" name="lastName" class="form-control" required value="Турченков" />
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="firstName" class="control-label">
                            Имя:
                            <input type="text" id="firstName" name="firstName" class="form-control" required="required" value="Павел" />
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="patronymic" class="control-label">
                            Отчество:
                            <input type="text" id="patronymic" name="patronymic" class="form-control" required value="Александрович" />
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label">
                            Email:
                            <input type="text" id="email" name="email" class="form-control" required onchange="IsRightEmail(this.value)" value="test.test@test.ru" />
                        </label>
                    </div>

                    <div id="check-email">

                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label">
                            Пароль:
                            <input type="text" id="password" name="password" class="form-control" required placeholder="Пароль" value="123" />
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="confirm-password" class="control-label">
                            Подтверждение пароля:
                            <input type="text" id="confirm-password" name="confirm-password" class="form-control" required placeholder="Повторите пароль" onchange="isEqual(this.value)" value="123" />
                        </label>
                    </div>

                    <div id="check-password">

                    </div>

                    <noscript>Проверка совпадения паролей не будет осуществляться</noscript>

                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                    <div class="col-md-6">
                        Role: @Html.DropDownList("role", selectsRole as SelectList)
                    </div>
                    }

                    <div class="form-group">
                        <label for="position" class="control-label">
                            Должность:
                            <input type="text" id="position" name="position" class="form-control" required placeholder="Должность" value="Учитель" />
                        </label>
                    </div>


                    <div class="form-group">
                        <label for="image">
                            Фото:
                            <input type="file" id="image" name="image" />
                        </label>
                    </div>

                    <button id="button">Create User</button>

                </form>
            </div>
        }
        else
        {
            Html.RenderPartial("PartialAccessDenied");
        }
        </body>
    </html>*@
