@using Ninject
@using CalendarThematicPlan.Container
@using CalendarThematicPlan.BLL.Interface

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @{Html.RenderPartial("PartialGetUsers");}


    @if (User.IsInRole("Admin"))
    {

        using (Html.BeginForm("Create", "Grade"))
        {
            <button class="list-inline">Новый пользователь</button>
        }
    }
</body>
</html>
