@using CalendarThematicPlan.Container;
@using CalendarThematicPlan.BLL.Interface;
@using Ninject

@{
    Layout = null;
}

@{
    IUserLogic userLogic = NinjectCommon.Kernel.Get<IUserLogic>();
    List<string> roles = Enum.GetNames(typeof(CalendarThematicPlan.WEB.Models.Roles)).ToList();
    SelectList selectsRole = new SelectList(roles);
    if (IsPost)
    {
        string id = Model.Id.ToString();
        string firstName = Request["firstName"];
        string lastName = Request["lastName"];
        string patronymic = Request["patronymic"];
        string email = Request["email"];
        string password = Request["password"];
        string role = Request["role"];
        if (role == null)
        {
            role = "User";
        }

        string position = Request["position"];

        WebImage photo = WebImage.GetImageFromRequest("image");
        byte[] userPhoto = null;
        if (photo != null)
        {
            userPhoto = photo.GetBytes();
        }

        try
        {
            userLogic.UpdateUser(id, firstName, lastName, patronymic, email, password, role, position, userPhoto);

            Response.Redirect("~/User/Index");
        }
        catch (Exception e)
        {
            <div class="card-header">
                <h2>@e.Message</h2>
            </div>
        }
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdatePassword</title>
    <script type="text/javascript" src="~/Scripts/validation.js"></script>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.Identity.Name == Model.Email.ToString())
    {
        <div class="form-group required">
            <form method="post">

                <div class="form-group">
                    <label for="password" class="control-label">
                        Пароль:
                        <input type="text" id="password" name="password" class="form-control" required placeholder="Пароль" value="" />
                    </label>
                </div>

                <div class="form-group">
                    <label for="confirm-password" class="control-label">
                        Подтверждение пароля:
                        <input type="text" id="confirm-password" name="confirm-password" class="form-control" required placeholder="Повторите пароль" onchange="isEqual(this.value)" value="" />
                    </label>
                </div>

                <div id="check-password">

                </div>

                <noscript>Проверка совпадения паролей не будет осуществляться</noscript>

                <button id="button">Обновить пароль</button>

            </form>
        </div>
    }
    else
    {
        Html.RenderPartial("PartialAccessDenied");
    }
</body>
</html>
