@using Entity
@using UserAward.BLL.Interface
@using UserAward.Container
@using Ninject


@{
    Layout = null;
}

@{
    IAwardLogic awardLogic = NinjectCommon.Kernel.Get<IAwardLogic>();
    if (IsPost)
    {
        try
        {
            string title = Request["title"];
            string description = Request["description"];
            string image = null;
            bool isRightOperation = awardLogic.AddAward(title, description, new byte[] { 0, 0, 0, 25 });
        }
        catch (Exception e)
        {

        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form method="post" class="form-group">
        <input type="text" id="title" name="title" />
        <input type="text" id="description" name="description" />
        <input type="file" id="image" name="image" />
        <button class="alert-danger">Create</button>
    </form>
    <form action="~/Award/Index">
        <button class="bg-primary">Cancel</button>
    </form>
</body>
</html>