@using Entity
@using UserAward.BLL.Interface
@using UserAward.Container
@using Ninject

@{
    Layout = null;
}

@{
    IAwardLogic awardLogic = NinjectCommon.Kernel.Get<IAwardLogic>();
    if (IsPost)
    {
        try
        {
            var isRightOperation = awardLogic.DeleteAward(Request["idForDelete"]);

            if (isRightOperation)
            {
                <h1>OK</h1>
            }
            else
            {
                <h1>BAD!</h1>
            }
        }
        catch (Exception e)
        {

        }
    }
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div>
            <form method="post">
                <p>Award's ID</p><input type="number" id="idForDelete" name="idForDelete" />
                <button class="alert-danger">Delete</button>
            </form>
            <form action="~/Award/Index">
                <button class="bg-primary">Cancel</button>
            </form>
        </div>
    }
    else
    {
        <div>
            <h1>You can't do it</h1>
        </div>
    }
</body>
</html>
