@using UserAward.BLL.Interface
@using UserAward.Container
@using Ninject

@{
    Layout = null;
}

@{
    IAwardLogic awardLogic = NinjectCommon.Kernel.Get<IAwardLogic>();
    if (IsPost)
    {
        try
        {
            string awardId = Request["awardId"];
            var isRightOperation = awardLogic.DeleteAwardFromAllUsers(awardId);

            if (isRightOperation)
            {
                <h1>OK</h1>
            }
            else
            {
                <h1>BAD!</h1>
            }
        }
        catch (Exception e)
        {
            <h1 class="navbar-header">ERROR! @e.Message</h1>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteAwardFromAllUsers</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div>
            <form method="post">
                <p>Award's Id</p><input type="number" id="awardId" name="awardId" />
                <button class="active">Delete Award</button>
            </form>
        </div>
    }
    else
    {
        <div>
            <h1>You can't do it</h1>
        </div>
    }
</body>
</html>
