@using Entity
@using UserAward.BLL.Interface
@using UserAward.Container
@using Ninject

@{
    Layout = null;
}

@{
    IAwardLogic awardLogic = NinjectCommon.Kernel.Get<IAwardLogic>();
    var awards = awardLogic.GetAwards();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="~/Award/Delete">
            <button class="btn-danger">Delete Award</button>
        </form>
        <form action="~/Award/Update">
            <button class="btn-danger">Update Award</button>
        </form>
        <form action="~/Award/Create">
            <button class="btn-danger">Create Award</button>
        </form>
    </div>
    <div>
        <h1>Список наград</h1>
        @foreach (var item in awards)
        {
            <p>@item.Title</p>
        }
    </div>
</body>
</html>
