@using Entity
@using UserAward.BLL.Interface
@using UserAward.Container
@using Ninject

@{
    Layout = null;
}

@{
    IAwardLogic awardLogic = NinjectCommon.Kernel.Get<IAwardLogic>();
    if (IsPost)
    {
        try
        {
            string id = Request["awardId"];
            string title = Request["title"];
            string description = Request["description"];
            WebImage photo = WebImage.GetImageFromRequest("image");
            byte[] awardImage = null;
            if (photo != null)
            {
                awardImage = photo.GetBytes();
            }

            Award award = awardLogic.GetAwardById(id);

            if (award == null)
            {
                <h1>Нет такой награды</h1>
            }
            else
            {

                awardLogic.UpdateAward(id, title, description, awardImage);
            }
        }
        catch (Exception e)
        {

        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div>
            <form method="post" class="form-group">
                <p>Award's ID</p><input type="number" id="awardId" name="awardId" />
                <p>Title</p><input type="text" id="title" name="title" />
                <p>Description</p><input type="text" id="description" name="description" />
                <p>Image</p><input type="file" id="image" name="image" />
                <button class="alert-danger">Update</button>
            </form>
            <form action="~/Award/Index">
                <button class="bg-primary">Cancel</button>
            </form>
        </div>
    }
    else
    {
        <div>
            <h1>You can't do it</h1>
        </div>
    }
</body>
</html>
