
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        @{Html.RenderPartial("PartialGetSchedule");}
    </div>

    <div>
        @using (Html.BeginForm("Index", "Grade"))
        {
            <button name="action" value="create" class="list-inline">Create</button>
            <button name="action" value="update">Update</button>
            <button name="action" value="delete">Delete</button>
        }
    </div>
</body>
</html>
