
@{ 
    string name = string.IsNullOrWhiteSpace(User.Identity.Name) ? "Stranger" : User.Identity.Name;
}

<!DOCTYPE html>
<html>
<head>
    
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <h3>Hello, @name</h3>
    </div>

    @RenderBody()

    <div class="panel-footer navbar-fixed-bottom">
        <form action="~/Home/Index">
            <button class="btn-group-lg">Go to main page</button>
        </form>
    </div>
</body>
</html>
