.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropbtn {
	cursor: default;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	width: 100px;
	box-shadow: 0 0 5px black;
  }
  
  .dropdown-content a {
	display: block;
	padding: 5px;
  }
  
  .dropdown-content a:hover {
	background-color: blue;
	color: white;
	text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .white-space {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
	color: black;
	box-shadow: 0 0 5px black;
	text-decoration: none;
	z-index: 2;
  }
  